#include "resource.h"

IDI_APP_32 ICON "icon\\app32.ico"
IDI_APP_16 ICON "icon\\app16.ico"


IDR_MENU_TRAY MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "选项 (&O)...",            IDM_OPTION
        MENUITEM SEPARATOR
        MENUITEM "开机自动运行 (&S)",       IDM_AUTORUN
        MENUITEM "退出 (&X)",               IDM_EXIT
    END
END

IDR_MENU_FLOAT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "新建",        IDM_CREATE
        MENUITEM "删除",        IDM_REMOVE
        MENUITEM SEPARATOR
        MENUITEM "退出",        IDM_EXIT
    END
END

IDR_MENU_EXCEPT_FLOAT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "删除",        IDM_EXCEPT_REMOVE
    END
END


IDD_PAGE_1 DIALOGEX 0, 0, 227, 214
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "大小", IDC_STATIC, 3, 4, 220, 60
    LTEXT "设置主窗口每一格的大小为：", IDC_STATIC, 13, 18, 150, 8
    LTEXT "长", IDC_STATIC, 13, 32, 12, 8
    EDITTEXT IDC_EDIT_CELL_CX, 32, 30, 28, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_READONLY | WS_GROUP
    CONTROL "", IDC_SPIN_CELL_CX, "msctls_updown32", UDS_SETBUDDYINT | UDS_ARROWKEYS | WS_GROUP | WS_TABSTOP,60,30,11,12
    LTEXT "高", IDC_STATIC, 13, 48, 12, 8
    EDITTEXT IDC_EDIT_CELL_CY, 32, 46, 28, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_READONLY | WS_GROUP
    CONTROL "", IDC_SPIN_CELL_CY, "msctls_updown32", UDS_SETBUDDYINT | UDS_ARROWKEYS | WS_GROUP | WS_TABSTOP,60,46,11,12
    PUSHBUTTON "使用默认大小", IDC_PUSH_CELL_DC, 125, 46, 86, 14, WS_GROUP

    GROUPBOX "颜色", IDC_STATIC, 3, 73, 105, 62
    PUSHBUTTON "", IDC_COLOR_BR, 13, 84, 21, 12
    LTEXT "边框", IDC_STATIC, 42, 86, 45, 8
    PUSHBUTTON "", IDC_COLOR_BG, 13, 100, 21, 12
    LTEXT "背景", IDC_STATIC, 42, 102, 45, 8
    PUSHBUTTON "", IDC_COLOR_HL, 13, 116, 21, 12
    LTEXT "高亮", IDC_STATIC, 42, 118, 45, 8

    GROUPBOX "透明", IDC_STATIC, 118, 73, 105, 62
    CONTROL "使用透明", IDC_CHECK_TRANS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 128, 87, 64, 10
    COMBOBOX IDC_COMBO_TRANS, 128, 100, 52, 12, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT " (%)",IDC_STATIC, 185, 102, 16, 8
END


IDD_PAGE_2 DIALOGEX 0, 0, 227, 214
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "例外程序（其窗口显示在所有的工作区）：", IDC_STATIC, 5, 10, 215, 10
    CONTROL "", IDC_LIST_EXCEPT, "SysListView32", LVS_REPORT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 22, 215, 80
    LTEXT "添加新的例外程序：", IDC_STATIC, 5, 110, 215, 14
    PUSHBUTTON "添加", IDC_PUSH_EXCEPT_ADD, 175, 108, 45, 14
    EDITTEXT IDC_EDIT_EXCEPT_ADD, 5, 125, 215, 12, ES_AUTOHSCROLL
END

IDD_PAGE_3 DIALOGEX 0, 0, 227, 214
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "在工作区间切换", IDC_STATIC, 3, 4, 220, 82
    CONTROL "", IDC_HOTKEY_NEXT, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 13, 18, 80, 12
    LTEXT "[ 下一个 ]", IDC_STATIC, 103, 20, 100, 12
    CONTROL "", IDC_HOTKEY_PREV, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 13, 33, 80, 12
    LTEXT "[ 上一个 ]", IDC_STATIC, 103, 35, 100, 12
    CONTROL "", IDC_HOTKEY_TAIL, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 13, 50, 80 ,12
    LTEXT "[ 最末一个 ]", IDC_STATIC, 103, 52, 100, 12
    CONTROL "", IDC_HOTKEY_HEAD, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 13, 65, 80, 12
    LTEXT "[ 最首一个 ]", IDC_STATIC, 103, 67, 100, 12

    GROUPBOX "新建删除工作区", IDC_STATIC, 3, 94, 220, 50
    CONTROL "", IDC_HOTKEY_CREATE, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 13, 108, 80, 12
    LTEXT "[ 新建 ]", IDC_STATIC, 103, 110, 100, 12
    CONTROL "", IDC_HOTKEY_REMOVE, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 13, 123, 80, 12
    LTEXT "[ 删除 ]", IDC_STATIC, 103, 125, 100, 12
END
